@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courgette", "cursive";
    color: white;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  body,
  button,
  input {
    font-size: .938rem;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@layer components{

  .main{
    overflow: hidden;
  }

  .containerr{
    max-width: 1124px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .main_hero_gradient{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.086));
  }

  @media screen and (min-width:676px) {
    .containerr{
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  @media screen and (min-width:1124px) {
    .containerr{
      margin-left: auto;
      margin-right: auto;
    }
  }
}