@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courgette", "cursive";
    color: white;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  body,
  button,
  input {
    font-size: .938rem;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@layer components {

  .main {
    overflow: hidden;
  }

  .containerr {
    max-width: 1124px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .main_hero_gradient {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.086));
  }

  @media screen and (min-width:676px) {
    .containerr {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  @media screen and (min-width:1124px) {
    .containerr {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card{
    columns: 4 12rem;
  }

  .card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  /* .img-gallery > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-gallery div img{
    vertical-align: middle;
    display: inline-block;
  }

  .img-gallery > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 600px;
    grid-auto-flow: dense;
  }

  .img-gallery .wide{
    grid-column: span 2;
  }

  .img-gallery .tall{
    grid-column: span 2;
  }

  .img-gallery .big{
    grid-column: span 2;
    grid-row: span 2;
  } */
}